## SYNTAX TEST "Packages/BetterEdge/resources/syntax/HTML (Edge).sublime-syntax"

    {{-- This is a comment --}}
##  ^^^^^^^^^^^^^^^^^^^^^^^^^^^ comment.block.edge
##  ^^^^ punctuation.definition.comment.begin.edge
##                         ^^^^ punctuation.definition.comment.end.edge
